.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.right-side{
  padding-left: 2%;
  padding: 10px 0 0 0;
  width : 70%
}
.left-side{
  width: 30%;
  padding-right: 2%;
  display:block;
  padding: 20px 0 0 0 ;
}

.app-container {
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;
}


#card {
  display: block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 gray;
  background-color: rgb(245,245,245);
}

#inside_def{
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.tableScrollHeight {
  height: calc(100% - 200px);
}
